{% load i18n %}

{% blocktrans %}
You are receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktrans %}

{% translate "Please go to the following page and choose a new password:" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktrans %}
Your username, in case you have forgotten it:
{{ user.get_username }}
{% endblocktrans %}

{% translate "If you did not request this password reset, please ignore this email." %}

{% blocktrans %}
If you have any questions or concerns, please contact us at support@{{ domain }}.
{% endblocktrans %}

{% translate "Thanks for using our site!" %}

{% blocktrans %}
The {{ site_name }} team
{% endblocktrans %}
